In [1]:
import pandas as pd
import numpy as np

In [2]:
#reading in motor vehicles data to add/change columns to be more useable in Tableau
df = pd.read_csv("motor-vehicle-crash-reports-1.csv")
df.head()

,Date,Time,Location,City,State,Weather (2&3),Road Surface (6),Traffic Control Device (4),Intersection Type (7),Traffic Way Desc (8),...,column 80,column 81,column 82,column 83,column 84,column 85,column 86,column 87,column 88,column 89
0,01/02/2010,22:21,BROADWAY & GARFIELD AVENUE,Somerville,MA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/03/2010,14:45,BROADWAY & FENWICK STREET,Somerville,MA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/05/2010,11:24,POWDER HOUSE SQUARE & BROADWAY,Somerville,MA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/06/2010,16:10,BOW STREET & WARREN AVENUE,Somerville,MA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/06/2010,16:19,HIGHLAND AVENUE & TOWER STREET,Somerville,MA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
severity = []
df.reset_index(drop=True)
for i in range(len(df)):
    if not np.isnan(df.loc[i].Severity1) :
        severity.append("Severe")
    elif not np.isnan(df.loc[i].Severity2):
        severyity.append("Severe")
    elif not np.isnan(df.loc[i].Severity3):
        severyity.append("Severe")
    elif not np.isnan(df.loc[i].Severity4):
        severyity.append("Severe")
    elif not np.isnan(df.loc[i].Severity5):
        severyity.append("Severe")
    else:
        severity.append("Not Severe")
        
df['Severity'] = severity

In [40]:
df.Severity.value_counts()

Not Severe    3274
Severe         785
Name: Severity, dtype: int64

In [42]:
df.to_csv("MotorVehicles.csv")

In [43]:
df1 = pd.read_csv("MotorVehicles.csv")
df1.head()

,Unnamed: 0,Date,Time,Location,City,State,Weather (2&3),Road Surface (6),Traffic Control Device (4),Intersection Type (7),...,column 81,column 82,column 83,column 84,column 85,column 86,column 87,column 88,column 89,Severity
0,0,01/02/2010,22:21,BROADWAY & GARFIELD AVENUE,Somerville,MA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Severe
1,1,01/03/2010,14:45,BROADWAY & FENWICK STREET,Somerville,MA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Severe
2,2,01/05/2010,11:24,POWDER HOUSE SQUARE & BROADWAY,Somerville,MA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Severe
3,3,01/06/2010,16:10,BOW STREET & WARREN AVENUE,Somerville,MA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Severe
4,4,01/06/2010,16:19,HIGHLAND AVENUE & TOWER STREET,Somerville,MA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Severe